body{
  margin:0;

  background-image: url('https://mblogthumb-phinf.pstatic.net/20141209_115/8642333_1418132459103VFFM3_JPEG/1684543.jpeg?type=w2');
  background-repeat: no-repeat;
  background-size: cover;
  }
  a{
    color:white;
    text-decoration: none;
    }

    #grid ol{
      border-right:1.2px  solid gray;
      margin:0;
      width:100px;

      padding:20px;
      padding-left: 32px;
      padding-right:10px;
    }
    #main{
      display: grid;
      grid-template-columns: 150px 1fr;

    }
    #main h1{
      text-align:center;
      border-bottom:1.2px solid gray;
      padding:20px;
      padding-left:0;
      margin:0;

    }
    #aa{
      display:grid;
      padding-top:30px;
      padding-left:20px;
      padding-right:20px;
    }
    #grid{
      display: grid;
      grid-template-columns: 150px 1fr;
    }
    #article{
      padding-left: 20px;
      color:white;
    }
    li{
      padding-top: 7px;
      padding-bottom: 7px;
      color:white;
    }
    @media(max-width:600px){
      #grid{
        display:block;
      }
      #grid ol{
        border-right:none;
      }
    }
